/* Basic reset */
* {
    margin: 20;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container for the login form */
.login-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/* Heading styling */
h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
}

/* Styling for input fields */
.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    font-size: 16px;
    color: #333;
    display: block;
    margin-bottom: 8px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #0a0e18;
    border-radius: 4px;
}

.input-group input:focus {
    border-color: #0d0908d3;
    outline: none;
}

/* Button styling */
.login-btn {
    width: 100%;
    padding: 12px;
    font-size: 20px;
    background-color: #007bff;
    color: rgb(17, 17, 17);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: green;
}


 /* Forgot password link styling */

 .forgetpassword-btn{
    margin: 8px; 
 }
  .forgetpassword-btn {
     width: 100%;
     padding: 12px;
     font-size: 20px;
     background-color: rgb(181, 8, 112);
     border-radius: 4px;

}
.forgetpassword-btn:hover {
    background-color: red;
}
